<div class="browse-gigs">
        <div class="browse-gigs-content">
            <div class="img-container">
                <a href="/gigs-front-of-house"><img class="browse-gigs-img" src="https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
                <h2 class="centered">front of house</h2></a>
            </div>
            <div class="img-container">
                <a href="/gigs-back-of-house"><img class="browse-gigs-img" src="https://images.unsplash.com/photo-1550053808-52a75a05955d?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
                <h2 class="centered white">Back of house</h2></a>
            </div>
        </div>
    </div>
<% if logged_in? %>
    <div class="browse-gigs-page">
        <a class="gig-link green" href="/gigs/new-gig"><i class="fa fa-plus" aria-hidden="true"></i> POST A NEW GIG</a>
    </div>
<% else %>
    <div class="error">
        <a class="green" href="/session/new">log in here</a>
        <a class="green sign-up-error" href="/users/new">Sign up here</a>
    </div>
<% end %>


