<div class="browse-staff">
    <div>
        <div class="browse-staff-content">
            <div>
                <h2>Front of House</h2>
                <p>Creating repeat customers by providing an unforgettable dining experience is the main goal for front of the house employees. They act as liaisons between guests and the kitchen, and have many job titles and functions.</p>
            </div>
            <a href="/workers-front-of-house"><img class="browse-staff-img right-side-image" src="https://images.unsplash.com/photo-1514066558159-fc8c737ef259?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt=""></a>
        </div>
    </div>
    <div>
        <div class="browse-staff-content">
            <a href="/workers-back-of-house"><img class="browse-staff-img" src="https://images.unsplash.com/photo-1548285181-3103ce5d3db2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt=""></a>
            <div>
                <h2>Back of house</h2>
                <p>The back of house, also known as BOH, is a term used for all the behind-the-scenes action that customers typically do not see. This usually includes the kitchen, where the food is prepped and cooked. It can also include employee break rooms and any office space you might have.</p>
            </div>
        </div>
    </div>
</div>