<form class="form-styling" action="/users" method="post">
    <h3 class="green">Sign up</h3>
    <label for="">Email<span class="red">*</span></label>
    <input name="email" type="text" placeholder="Email" autocomplete="off">
    <label for="">Password<span class="red">*</span></label>
    <input name="password" type="password" placeholder="Password" autocomplete="off">
    <button class="marble">Sign up</button>
    <p class="red">* Required fields</p>
</form>