<form class="add-user" action="/users" method="post">
    <label for="">Username</label>
    <input name="user_name" type="text" placeholder="Username" autocomplete="off">
    <label for="">Email</label>
    <input name="email" type="text" placeholder="Email" autocomplete="off">
    <label for="">Password</label>
    <input name="password" type="password" placeholder="Password" autocomplete="off">
    <button>Sign up</button>
</form>