<form class="form-styling" action="/users" method="post">
    <label for="">Email*</label>
    <input name="email" type="text" placeholder="Email" autocomplete="off">
    <label for="">Password*</label>
    <input name="password" type="password" placeholder="Password" autocomplete="off">
    <button class="marble">Sign up</button>
    <p class="<%= "required" if 303 %>">* Required fields</p>
</form>