<form class="form-styling" action="/session" method="post">
    <h3 class="green">Login</h3>
    <label for="">email</label>
    <input name="email" type="text" placeholder="Email" autocomplete="off">
    <label for="">password</label>
    <input name="password" type="password" placeholder="Password" autocomplete="off">
    <button class="marble">Login</button>
</form>