<div class="overview">
    <div>
        <div class="overview-content">
            <img class="overview-img" src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <div>
                <h2>How it works</h2>
                <p>Luckly enough we don't have to re-invent communication to be able to connect in an easier way.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="overview-content">
            <div>
                <h2>Front of House</h2>
                <p>Creating repeat customers by providing an unforgettable dining experience is the main goal for front of the house employees. They act as liaisons between guests and the kitchen, and have many job titles and functions.</p>
            </div>
            <img class="overview-img right-side-image" src="https://images.unsplash.com/photo-1572944449975-ef3accfbbb0d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
    </div>
    <div>
        <div class="overview-content">
            <img class="overview-img" src="https://images.unsplash.com/photo-1548285181-3103ce5d3db2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="">
            <div>
                <h2>Back of house</h2>
                <p>The back of house, also known as BOH, is a term used for all the behind-the-scenes action that customers typically do not see. This usually includes the kitchen, where the food is prepped and cooked. It can also include employee break rooms and any office space you might have.</p>
            </div>
        </div>
    </div>
</div>