<% messages.each do |message| %>
    <div class="profiles">
        <div class="profiles-content">
            <h3>Message</h3>
            <p class="p-contained"><%= message["message"] %></p>
            <h4>From</43>
            <p><%= message["user_name"] %></h3></p>
        </div>
    </div>
<% end %>
