*
{
    box-sizing: border-box;
}
body
{
    max-width: ;
    background-color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    margin: 0;
}

/* START - LAYOUT */

.wrapper
{
    margin: 0;
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1
{
    margin: 20px auto 0 auto;
    padding: 0;
    font-size: 5em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    letter-spacing: 5px;
}
.moto
{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
a
{
    font-size: .9em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.772);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
}
.home-bar
{
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0));
    position: fixed;
    height: 150px;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
}
.home
{
    font-size: .7em;
    top: 20px;
    right: 20px;
    position: fixed; 
}
.active-home
{
    color: #14a96d;
}
.signup
{
    font-size: .7em;
    top: 20px;
    right: 78px;
    position: fixed; 
}
.active-signup
{
    color: #14a96d;
}
.active-border-signup
{
    height: 0;
    width: 20px;
    border: 1px solid #14a96d;
    border-radius: 50px;
    box-shadow: 0 0 1px #14a96d5e;
}
.login
{
    font-size: .7em;
    top: 20px;
    right: 150px;
    position: fixed; 
}
.active-login
{
    color: #14a96d;
}
.profile
{
    font-size: .7em;
    top: 20px;
    right: 165px;
    position: fixed; 
}
.hp-img
{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 5px black,
                0 0 50px #0000002f;
}
.nav-bar
{
    max-width: 500px;
    margin: 50px auto 10px auto;
    padding: 10px auto;
    display: flex;
}
.tabs
{
    position: relative;
    flex-wrap: wrap;
    margin: 0 10px;
    flex-grow: 1;
    flex-shrink: 1 auto;
    flex-basis: 100%;
    text-align: center;
}
.active
{
    color: #14a96d;
    text-shadow: 0 0 1px #14a96d11;
}
.border
{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: .3em;
}
.active-border
{
    color: #14a96d;
}
.border-image
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTe9meFs4twANobB-rfxcdB9KLyJ0GqsGtqng&usqp=CAU);
    height: 30px;
}

/* END - LAYOUT */

/* START - HOW IT WORKS */

.how-it-works
{
    margin: 0 0 50px 0;
    padding: 0 50px;
}
.how-it-works-content
{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;;
}
.how-it-works-img
{
    margin: 0;
    width: 300px;
}
.right-side-image
{
    justify-self: end;;
}
h2
{
    margin: 0 auto;
    padding: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
}
p
{
    margin: 40px auto;
    color: rgba(0, 0, 0, 0.697);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* END - HOW IT WORKS */

/* START - BROWSE STAFF */

.browse-staff
{
    margin: 0 0 50px 0;
    padding: 0 50px;
}
.browse-staff-content
{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.browse-staff-img
{
    margin: 0;
    width: 300px;
}
.right-side-image
{
    justify-self: end;
}
h2
{
    margin: 0 auto;
    padding: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
}
p
{
    margin: 20px auto;
    color: rgba(0, 0, 0, 0.697);
}

/* END - BROWSE STAFF */

/* START - NEW USERS */

.form-styling
{
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    justify-content: center;
}
label
{
    display: block;
    margin: 20px auto;
    text-align: center;
    color: rgba(64, 64, 64, 0.765);
}
input
{
    margin: 10px auto 20px auto;
    padding: 10px 0;
    width: 400px;
    font-family: inherit;
    text-align: center;
    font-size: .8em;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: .4px solid #676767;
    color: #14a96d;
}
input::placeholder 
{
    color: rgb(57, 57, 57);
    opacity: 1;
}
input:focus
{
    outline: none;
    border-bottom: 2px dashed #14a96d;
    transition-duration: .2s;
    color: #14a96d;
}
input:focus::placeholder 
{
    color: rgba(163, 163, 163, 0.765);
    opacity: 1;
}
.marble
{
    margin: 60px auto;
    font-size: 1em;
    padding: 10px;
    width: 250px;
    border: none;
    background-image: url(https://image.freepik.com/free-vector/grunge-is-black-white-background-abstract-monochrome-texture-pattern-cracks-chips_35257-317.jpg);
    background-size: 200px;
    background-position: 35px 0;
    box-shadow: inset -2px 2px 5px #ffffff1f,
                inset -5px 5px 10px #0b0b0b1f,
                inset 5px -15px 10px #00000086,
                -5px 5px 10px #00000045;
    border-radius: 50px;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
}
.marble:focus 
{
    outline: 0;
}
.marble:active
{
    box-shadow: inset 5px -15px 10px #00000086,
                inset -5px 5px 10px #0b0b0b1f,
                -1px 1px 10px #0000005e;
}
.required
{
    font-size: .7em;
    text-align: center;
}
.logout 
{   
    border: none;
    background-color: transparent;
    font-size: .7em;
    top: 19px;
    right: 70px;
    position: fixed;
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
}
.logout:focus
{
    outline: 0;
}
.red
{
    color: tomato;
    font-size: .8em;
}

/* END - NEW USERS */

/* START - PROFILE */

.profile-page
{
    margin: 50px auto;
    display: grid;
    align-self: center;
    justify-content: center;
    text-align: center;
}
.edit-profile-link
{
    margin: 50px auto;
    color: #14a96d;
}
.profile-img
{
    margin: 0 auto;
    width: 300px;
    border-radius: 50%;

}

/* END - PROFILE */

/* START - EDIT PROFILE */

.browse-staff
{
    margin: 0 0 50px 0;
    padding: 0 50px;
}
.browse-staff-img
{
    margin: 0;
    width: 300px;
}
.add-type 
{
	font-size: 16px;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 1em;
	color: black;
	line-height: 1.3;
	padding: .6em 1em .5em 1.2em;
	width: 200px;
	margin: 0 auto 20px auto;
	border: none;
	background-color: rgb(255, 255, 255);
}
.add-type::-ms-expand 
{
	display: none;
}
.add-type:hover 
{
	border-color: rgb(81, 81, 81);
}
.add-type:focus 
{
	border-color: #14a96d;
    box-shadow: inset -1px 1px 3px #000f09b7;
	color: #14a96d;
	outline: none;
}
.add-type option 
{
	font-weight:normal;
}
.back-to-profile
{
    margin: 0 auto;
    color: #14a96d;
}
.fa-undo
{
    font-size: .7em;
}
.input-file::-webkit-file-upload-button
{
    visibility: hidden;
}
input[type="file"] 
{
    padding: 5px 35px;
}
.input-file::before 
{
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: none;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: black;
    font-size: 1em;
    text-shadow: 1px 1px #fff;
}
.input-file:active::before 
{
    background: -webkit-linear-gradient(top, #e3e3e300, #f9f9f9);
}

/* END - EDIT PROFILE */

/* START - PROFILES */

.profiles
{
    width: 500px;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profiles-content
{
    margin: 50px 0 0 0;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.name
{
    margin-bottom: 30px;
}
.profiles-img
{
    margin: 50px;
    width: 150px;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

/* END - PROFILES */

/* START - BROWSE-GIGS */

.browse-gigs-page
{
    margin: 50px auto;
    display: grid;
    align-self: center;
    justify-content: center;
}
.gig-link
{
    text-align: center;

}
.browse-gigs
{
    margin: 0 0 50px 0;
    padding: 0 50px;
}
.browse-gigs-content
{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.browse-gigs-img
{
    margin: 0;
    width: 300px;
}
.img-container
{
    position: relative;
    text-align: center;
    color: white;
}
.centered 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}
.white
{
    color: white;
}
/* END - BROWSE-GIGS */

/* START - POST NEW GIG */

.green
{
    color: #14a96d;
    margin: 30px auto;
}
textarea
{
    text-align: center;
    justify-content: center;
    border: none;
    padding-top: 20px;
    resize: none;
}
textarea:focus::placeholder
{
    color: #14a96d;
}
textarea:focus
{
    color: black;
    outline: none;
    border: none;
    resize: none;
}
.calendar {
    display: block;
    font-family: 'Julius Sans One', sans-serif;
    width: 150px;
    padding: 10px 0;
    color: black;
}
.error
{
    margin: 100px auto;
    text-align: center;
}
.sign-up-error
{
    border-left: 1px solid rgba(0, 0, 0, 0.601);
    padding-left: 8px;
    padding-top: 3px;
}

/* END - POST NEW GIG */

/* START - GIGS */

.gigs-container
{
    background: linear-gradient(30deg, black, rgba(0, 0, 0, 0.936));
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;  
}
.gig
{
    color: white;
    margin: 0 auto;
    width: 250px;
    text-align: justify;
}
.date
{
    color: rgba(255, 255, 255, 0.731);
    text-align: center;
    font-size: .8em;
}
.descriptions
{
    font-size: .9em;
    text-align: center;
}
.titles
{
    color: #14a96d;
    padding: 5px 0;
    text-align: center; 
}

/* END - GIGS */